.contact{
    max-width: 60vw;
    height: 90vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 800px){
        flex-direction: column;
        gap: 10px;
        max-width: 90%;
        text-align: center;
        justify-content: center;
        
    }

    .text_container{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (max-width: 800px){
            gap: 10px;
            justify-content: center;
            
        }

        h1{
            font-size: 60px;
            color: orange;
            line-height: 88px;

            @media screen and (max-width: 800px){
                font-size: 40px;
                text-align: center;
                line-height: 50px;
            }

        }

    }

    .form_container{
         
        flex: 1;

        @media screen and (max-width: 800px){
            width: 90%;
        }
        
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

        input{
            background-color: transparent;
            border: 1px solid white;
            color: white;
            border-radius: 5px;
            height: 5vh;
            padding: 1vh;
            
        }

        textarea{
            background-color: transparent;
            border: 1px solid white;
            color: white;
            border-radius: 5px;
            padding: 1vh;
        }

        button{
            padding: 15px;
            border: none;
            background-color: orange;
            cursor: pointer;
            font-weight: bold;
            border-radius: 5px;
            font-size: 20px;
        }

        button:hover{
            background-image: linear-gradient(rgb(169, 110, 2), orange, rgb(169, 110, 2)) ;
        }

        }

    }
}